# Données volumineuses
data/raw/*.csv
data/processed/*.npy

# Modèles entraînés (lourds)
outputs/models/*.keras
outputs/models/*.pkl

# Comptes utilisateurs (sensible)
users_db.json

# Environnement Python
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/